*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}

body {
    background-color: #14141E;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
}

$navbar-btn-size: clamp(2rem, 10vw, 4rem);
$navbar-btn-offset: clamp(2rem, 10vw, 4.5rem);

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: #27273A;

    display: -ms-grid;
    display: grid;
    -ms-grid-rows: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    // align-items: center;
    gap: 1rem;

    clip-path: circle(0.0% at calc(100% - 4.5rem - 2rem) calc(4.5rem + 2rem));
    transition: clip-path 250ms linear !important;

    &.open {
        clip-path: circle(141.2% at calc(100% - 4.5rem - 2rem) calc(4.5rem + 2rem));
    }

    .navbar-close-btn svg {
        position: absolute;
        top: $navbar-btn-offset;
        right: $navbar-btn-offset;

        width: $navbar-btn-size;
        height: auto;

        fill: white;

        height: fit-content;
    }

    a:not(:first-of-type) {
        padding: 1rem 2rem;

        font-size: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        height: fit-content;

        border-radius: .5rem;

        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            border-radius: inherit;

            background: linear-gradient(180deg, #5E00BB 0%, #AC00BB 100%);

            opacity: 0;
            transition: opacity 100ms linear;

            z-index: -1;
        }
        
        &::before {
            filter: blur(1rem);
            transform: translate(.75rem, .75rem);
        }

        &:hover::before,
        &:hover::after {
            opacity: 1;
        }
    }

}

#hero {
    height: 100%;
    position: relative;

    $decoration-svg-size: clamp(8rem, 33vw, 20rem);

    .decoration-top-left,
    .decoration-bottom-right {
        position: absolute;
        height: $decoration-svg-size;
        width: $decoration-svg-size;
        z-index: -1;
    }

    .decoration-top-left {
        top: 0;
        left: 0;
    }

    .decoration-bottom-right {
        bottom: 0;
        right: 0;
    }

    .navbar-open-btn {
        position: absolute;
        top: $navbar-btn-offset;
        right: $navbar-btn-offset;

        width: $navbar-btn-size;
        height: auto;

        fill: white;
    }

    .title {
        position: absolute;
        left: clamp(2rem, 10vw, 8rem);
        bottom: 4rem;

        width: clamp(15rem, 40vw, 24rem);
        height: 18rem;

        background: url("./assets/hero-blob.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;

        padding: 10rem 1.5rem;
        font-weight: 400;

        h2 {
            display: inline;
            font-size: clamp(1.5rem, 4vw, 3rem);
            color: #847F7F;

            strong {
                color: #CECECE;
            }
        }

        h1 {
            font-family: 'Redressed', cursive;
            font-size: clamp(3rem, 8vw, 6rem);
            font-weight: 400;
            color: #FFFFFF;
        }

        @media screen and (max-width: 900px) {
            bottom: 33vh;
        }
    }

    .subtitle {
        position: absolute;
        right: clamp(2rem, 10vw, 8rem);
        bottom: 4rem;

        font-size: clamp(.75rem, 2vw, 1.5rem);
        line-height: 1.1em;

        color: #C8C8C8;

        display: grid;
        gap: 1rem;
        align-items: baseline;

        p {
            width: clamp(10rem, 40vw, 20rem);
        }
    }
}

.cta {
    width: fit-content;
    padding: 1em 3em;

    background: linear-gradient(180deg, #5E00BB 0%, #AC00BB 100%);
    border-radius: .5rem;

    font-weight: 500;
    // font-size: 1.25rem;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: inherit;

        background: linear-gradient(180deg, #5E00BB 0%, #AC00BB 100%);
        opacity: 0;
        transform: translate(.75rem, .75rem);
        filter: blur(1rem);

        transition: opacity 100ms linear;

        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }
}